<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>学生页面</title>

    <link rel="stylesheet" type="text/css" href="static/demo.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="index-top"><strong>{{ name }}，Welcome to Our World!</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for("index") }}">退出</a></div>

<div class="box">
    <table width="90%" style="margin-left:30px ;margin-top: 20px;" border="2" align="center">
    <thead>
        <tr height="60px">
            <th width="25px">学号</th>
            <th width="35px">姓名</th>
            <th width="40px">成绩</th>
            <th width="60px">籍贯</th>
            <th width="80px">身份</th>
        </tr>
    </thead>>
        {% for list in lists %}
            <tr height="30px">
                <td>{{ list[0] }}</td>
                <td>{{ list[1] }}</td>
                <td>{{ list[2] }}</td>
                <td>{{ list[3] }}</td>
                <td>{{ list[4] }}</td>

            </tr>


    </table>

</div>

</body>
</html>